body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form {
  display: flex;
  margin: 0 auto;
  gap: 8px;
  width: 300px;
  padding: 24px;
  border-radius: 8px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  max-width: 95px;
  background: #4e75ff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #6c8cff;
}

.input-form {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:hover,
.input-form:focus {
  border-color: #000;
}

.input-form:active {
  border-color: #4e75ff;
}



.gallery {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1128px;
}

.gallery-item {
  width: calc((100% - 48px) / 5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #f77205c9;
  border-radius: 4px;
}

.gallery-image {
  object-fit: contain;
  margin-bottom: 8px;
}

.gallery-info {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.gallery-info-name {
  display: flex;
  flex-direction: column;
  font-size: 8px;
  font-weight: 900;
  text-align: center;
}

.gallery-info-value {
  font-weight: 400;

}


.loader {
  display: none;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}